// VARIABLES

$Primary_color: purple;
$path--rel: "../public/img";


//MIXINS

@mixin displayFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}



//GENERAL CSS

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
