// VARIABLES

$Primary_color: #3D7291;
$Secondary_color: #74B8DF;
$Form_gradient: linear-gradient(to bottom, #cecece, #fff);
$path--rel: "../public/img";


//MIXINS

@mixin displayFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin formButton1 {
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1px;
  background: $Primary_color;
  color: #fff;
  cursor: pointer;
}



//GENERAL CSS

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


form.baseForm {
  @include displayFlex(column, center, center);
  width: 350px;
  padding: 1rem;
  border: 3px solid $Primary_color;
  background: $Form_gradient;
  transform: translateY(-50%);

  input {
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
    outline: none;
    border: 3px solid $Primary_color;
  }

  button {
    @include formButton1
  }

  ::placeholder{
    color: $Primary_color;
    opacity: 0.5;
    // color: red;
  }

  h3 {
    color: $Primary_color;
    font-size: 1.4rem;
  }
  
  p {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 400;
    margin-top: 1rem;
  }

  span {
    font-weight: 800;
    color: $Primary_color;
    cursor: pointer;
  }
}

[v-cloak] {
  display: none;
}